<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to About ME page</h1>
    </div>
    <br/>
    <br/>
    <div class="container">
      <div class="page-header">
          <h1>Hi, My name is Piyush Goel.</h1>
      </div>
      <br/>
      <br/>
      <div class="row">
          <div class="col-md-9">
              <br/>
              <br/>
              <p>
                I came from Delhi,India to pursue my graduate diploma in artificial intelligence from centennial college. Back in my home country, i have completed my Btech in computer science from Jamia Hamdard University. 
               </p>
              
              <!-- <br /> -->
              <!-- <small><i>*for more information about co-op program and its benefit, please <a href="employer_guide.pdf" download="Employer's Guide">click here</a> to download 'Employer's Guide' document.</i></small> -->
          </div>
          <div class="col-md-3">
              <img src="https://media-exp1.licdn.com/dms/image/D4E03AQH_HrMeV_CtkA/profile-displayphoto-shrink_400_400/0/1665157563499?e=1670457600&v=beta&t=__U3On34J9gAgrvn3emN5YswCP_d7fXnY8YwxX7mpxA" alt="image_1" width="300" height="250" />
          </div>
      </div>
  
  </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>