<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      <h1 class="display-3">Welcome to Personal Portfolio</h1>
      <br/>
      <br/>
      <br/>
      <br/>
      <p><b>Hi, This side Piyush Goel,a Software Developer. Welcome to my portfolio.</b></p>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <h6 class="display-6">Mission: To be an AI expert and achieve a good job</h6>
    </div>
  
  </main>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>